<div>
    <a href="/">Home</a>
    <div>
        <h2>Movie Details</h2>
        <hr>
        <p>Title: {{title}}</p>
        <p>Genre: {{genre}}</p>
        <p>Plot: {{plot}}</p>
    </div>
    <div>
        <h5>Celebrities</h5>

        {{#each cast}}
        <p>Name: {{this.name}}</p>
        <p>Occupation: {{this.occupation}}</p>
        <p>CatchPhrase: {{this.catchPhrase}}</p>
        {{/each}}

        <form action="/movies/{{_id}}/delete" method="POST">
            <button>Delete</button>
        </form>
        <br>
        <button class="btn-edit" type="submit"><a href="/movies/{{_id}}/edit">EDIT</a></button>
    </div>
</div>